@media print {
    .pdf-footer {
        position: absolute !important;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex !important;
        justify-content: center;
        background: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        color: #888;
        padding: 10px 0;
        box-sizing: border-box;
    }
    .filaOficio {
        page-break-inside: avoid;
    }
}
